a {
    color: #000; 
    text-decoration: none; 
    .productos__cuerpo{
        background-color: $persian-pink;
    }
}
.tarjetita__boton {
    a:hover{
        background-color: $persian-pink;
        border: none;
        padding: 10px;
        border-radius: 10px;
    }
}