main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main__pedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

