@media (min-width: 1000px){

    .img-bgnd {
        min-width: 100%;
        max-height: 70%;
    }

}

@media (max-width: 1000px){
    .tarjetitas{
        display: flex;
        flex-direction: column
    }

    .img-bgnd {
        min-width: 100%;
        max-height: 70%;
    }
    .contenedor__carrusel {
        display: grid;
        grid-template-columns: auto auto;
    }
    .miHistoria {
        margin: 30px;
        display: flex;
        flex-direction: column;
    iframe{
        width: 100%;
        justify-content: center;
    }
    }
    }


@media (min-width: 450px) and (max-width: 600px){
    .img-bgnd {
        max-width: 100%;
        max-height: 40%;
    }

    .contenedor__carrusel {
        display: grid;
        grid-template-columns: auto;
    }
    .pie{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        .h3footer { font-size: 4rem;
    }}
}

    @media screen and (max-width: 450px) {
        .img-bgnd {
            min-width: 100%;
            max-height: 20%;
        }
        .contenedor__carrusel {
            display: grid;
            grid-template-columns: auto;
        }
        .selec{
            font-size: small;
        }}





