@media (max-width: 900px){

    .contenedor__carrusel {
        display: grid;
        grid-template-columns: auto auto;
    }
    .miHistoria {
        margin: 30px;
        display: flex;
        flex-direction: column;
    iframe{
        width: 75%;
        display: flex;
        justify-content: center;
    }
    }
    
    }


@media (max-width: 450px){
    .contenedor__carrusel {
        display: grid;
        grid-template-columns: auto;
    }
    footer{
        display: grid;
        grid-template-columns: auto auto;
        align-items: start;
        h3 { font-size: 1rem;
    }}
}
@media screen and (max-width: 900px) {
    .form  {
        padding: 10px;
    }

    input, textarea {
        margin-bottom: 10px;
    }
}

    @media screen and (max-width: 450px) {
        .form {
            padding: 15px;
            margin: 15px;
        }

        input, textarea {
            margin-bottom: 15px;
        }
    }

