@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
* body {
  background-color: rgb(255, 229, 236);
}

header {
  background-color: rgb(255, 229, 236);
  display: flex;
  gap: 20px;
  grid-gap: 20px;
  position: sticky;
  top: 0;
}
header .logo {
  width: 100px;
}
header .navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 10px;
  grid-gap: 10px;
}
.menu .menu__item a {
  color: black;
  text-decoration: none;
}
.menu .menu__item.active a,
.menu .menu__item a:hover {
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
  background-color: rgb(255, 163, 165);
  border-radius: 10px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__pedidos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalidad {
  background-color: rgba(255, 134, 200, 0.516);
  margin: 2rem;
  padding: 2rem;
  border-radius: 30px;
}

.flayer {
  width: 300px;
}

.form__taller {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modalidad__titulo {
  background-color: rgba(255, 134, 200, 0.842);
}

.presentacion {
  height: 80vh;
  background-image: url("../img/productos/productosFondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 250px;
}

.presentacion__cuerpo {
  background-color: rgba(255, 179, 198, 0.548);
  text-align: center;
}
.presentacion__cuerpo .presentacion__encabezado {
  color: rgba(0, 0, 0, 0.793);
  background-color: rgb(255, 179, 198);
  padding-inline: 15px;
}
.presentacion__cuerpo .presentacion__texto {
  color: rgba(0, 0, 0, 0.793);
  text-align: center;
  font-weight: 500;
}
.presentacion__cuerpo .presentacion__descripcion li {
  color: rgba(0, 0, 0, 0.793);
  font-size: 14px;
  font-weight: 700;
  list-style-type: none;
}

.productos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productos__curepo {
  background-color: rgb(255, 179, 198);
  text-align: center;
  border-radius: 25px;
  margin: 15px;
}
.productos__curepo a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.793);
  background-color: rgb(255, 134, 200);
}

.taller__cuerpo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.taller__cuerpo .taller__encabezado {
  background-color: rgb(255, 179, 198);
  text-align: center;
  border-radius: 25px;
  margin: 15px;
}

.miHistoria__header, .miHistoria {
  background-color: rgb(255, 179, 198);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.miHistoria__header .miHistoria, .miHistoria .miHistoria {
  width: 100%;
}
.miHistoria__header .miHistoriaTexto, .miHistoria .miHistoriaTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: rgb(255, 179, 198);
}

.encabezado__pedidos {
  background-color: rgb(255, 179, 198);
  text-align: center;
  border-radius: 25px;
  margin: 15px;
}

.invitciones {
  padding: 60px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-around;
}

.tarjetitas {
  padding: 60px;
  display: flex;
  gap: 30px;
}
.tarjetitas .tarjetita {
  background-color: rgb(255, 179, 198);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.tarjetitas .informacion {
  padding: 0 20px 20px 20px;
}
.tarjetitas .tarjetita__imagen {
  max-width: 100%;
}
.tarjetitas .tarjetita__boton, .tarjetitas a:hover {
  background-color: rgb(255, 134, 200);
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.tarjetitas .tarjetita__imagen,
.tarjetitas .tarjetita__titulo,
.tarjetitas .tarjetita__texto {
  margin-bottom: 10px;
}

.informacion {
  padding: 0 20px 20px 20px;
}

.tarjetita__imagen {
  max-width: 100%;
}

.tarjetita__boton, a:hover {
  background-color: rgb(255, 134, 200);
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.tarjetita__imagen,
.tarjetita__titulo,
.tarjetita__texto {
  margin-bottom: 10px;
}

.productos__menu {
  z-index: 1;
}

.contenedor__carrusel {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.contenedor__carrusel .carrusel__productos {
  max-width: 100vh;
  border: 8px solid rgb(255, 179, 198);
  margin: 15px;
}

.form {
  background-color: rgb(255, 179, 198);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 450px;
  border-radius: 25px;
}
.form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(255, 105, 235);
}
.form .textarea {
  display: flex;
  width: 100%;
  padding: 0 10px 10px 10px;
  border: 3px solid rgb(255, 105, 235);
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}
.form .botones textarea {
  display: flex;
  width: 100%;
  padding: 10px;
  border: 3px solid rgb(255, 105, 235);
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.irArriba {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: rgb(255, 134, 200);
  border-radius: 10px;
  color: black;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(255, 179, 198);
  color: rgba(0, 0, 0, 0.793);
  width: 100%;
  justify-content: space-around;
}

.contacto__logos {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.contacto__logos .contacto__logo {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */